<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="text/javascript" src="ajax.js"> </script>
   
</head>
<body>
    <%-include("home.ejs") %>
    <br><br>
<div class="container p-5 bg-dark">

    <div class="form-group">
        <input type="text" name="name"  id="" value="" class="form-control" onkeyup="searchCategory(this.value)"/>
    </div> 
    <table class="table table-dark">
        <tr>
            <th>SR NO</th>
            <th>Category NAME</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tbody id="tblBody">


        <%
        if(CatList.length!=0){
        CatList.forEach((row,index)=>{
            %>
            <tr>
                <td><%=index+1%></td>
                <td><%=row.category%></td>
                <td><a href="/deldept?category_id=<%=row.category_id%>">DELETE</a></td>
                <td><a href="/updatecat?cn=<%=row.category%>&category_id=<%=row.category_id%>">UPDATE</a></td>
            </tr>
            <%
        });
    }
    else{
        %>
        <tr>
            <td colspan="6">No Data Found .</td>
        </tr>
        <%
    }
        %>

        </tbody>
    </table>
    </div>

</body>
</html>